/* variables */
:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

/* GLOBAL STYLE */

/* O * chama todos os elementos/selectores */
* {
    margin: 0;   /* margin é a margem da borda para fora da caixa */
    padding: 0;  /* padding é a margem da borda para dentro da caixa */
    box-sizing: border-box; /* a caixa é medida pelas bordas */
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #c0d5ff;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
